- parse_crumbs
- parse_controls

%html{:lang => I18n.default_locale.to_s}
  %head
    -#%meta{:name => 'viewport', :content => 'user-scalable=no, width=device-width'}
    %title= VOLOST_NAME, ': ', (yield(:title) || t(:main_menu))
    = stylesheet_link_tag('application')
    -#- unless logged_in? # FIXME: hackish (to prevent making xhr'd admin funcs etc.)
    -#  = javascript_include_tag('prototype', 'lowpro_orig', 'label2input')
    = yield(:head)

  %body
    %header
      = link_to_unless_current(image_tag(LOGO, :title => t(:main_menu), :alt => t(:main_menu)), root_path)

      %h1= VOLOST_NAME
      %h2= VOLOST_DESCR

      %aside= render :partial => "shared/logged_in_#{logged_in?}"

    %nav<
      = yield(:crumbs)
      = yield(:control)

    - flash.each do |name,msg|
      %p{:id => "flash_#{name}"}= msg

    %section= yield
